{% extends 'base.jinja' %}

{% block main %}
  <dl>
    <dt>Order ID</dt>
    <dd>{{ order_id }}</dd>

    <dt>Amount Paid</dt>
    <dd>{{ amount_paid }}</dd>

    <dt>Item Price</dt>
    <dd>{{ item_price }}</dd>

    <dt>Change Due</dt>
    <dd>{{ change_due }}</dd>

    <dt>Change Denominations</dt>
    <dd><table class="table">
    <thead>
      <tr>
        <th>Change</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      {% for denomination in denominations %}
        <tr>
          <td>{{ denomination['name'] }}</td>
          <td>{{ denomination['count'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table></dd>
  </dl>
  <a href="/orders">Order List</a>
{% endblock %}
